@forward '@atmosphere/tokens/dist/scss/foundation';
@forward '@atmosphere/tokens/dist/scss/foundation-color';
@forward '@atmosphere/tokens/dist/scss/breakpoints';
@forward '@atmosphere/tokens/dist/scss/fonts';

@use '@atmosphere/tokens/dist/scss/breakpoints';
@use '@atmosphere/tokens/dist/scss/density';
@use '@atmosphere/tokens/dist/scss/foundation-color' as color;
@use '@atmosphere/tokens/dist/scss/fonts';

@include density.generateDensityVariables();
@include color.generateColorThemeVariables();
@include breakpoints.generateBreakpointVariables();
@include fonts.boeing-meso('/assets/fonts');
/* Icon styles */
[class^="icon-"], [class*=" icon-"] { 
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}