.group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  margin-top: 24px;
}

@media (max-width: 1000px) {
  .group {
    grid-template-columns: auto;
  }
}

.surface-variable {
  display: inline-block;
  font-family: monospace;
  padding: 0 6px;
 }

.typography-group {
  border: 1px dotted;
  border-radius: 16px;
  margin-top: 24px;
  overflow: hidden;
}

.typography-title {
  text-transform: capitalize;
  padding: 8px;
  background-color: lightgrey
}

.typography-variable {
  min-width: 12rem;
}

.typography-example {
  padding: 16px;
  display: flex;
  align-items: baseline;
  border-top: 1px dotted;
}

.typography-example:nth-child(1) {
  border: none;
}

.typography-example .surface-variable {
  margin-right: 16px;
}

.typography-text {
  display: inline-block;
}



//   .display-medium {
//     @include typography.typography-s-display-medium;
//     @include media-breakpoint-up(md) {
//       @include typography.typography-m-display-medium;
//     }
//     @include media-breakpoint-up(lg) {
//       @include typography.typography-l-display-medium;
//     }
//     @include media-breakpoint-up(xl) {
//       @include typography.typography-xl-display-medium;
//     }
//   }

//   .h1, h1, .heading-high {
//     @include typography.typography-s-heading-high;
//     @include media-breakpoint-up(md) {
//       @include typography.typography-m-heading-high;
//     }
//     @include media-breakpoint-up(lg) {
//       @include typography.typography-l-heading-high;
//     }
//     @include media-breakpoint-up(xl) {
//       @include typography.typography-xl-heading-high;
//     }
//   }

//   .h2, h2, .heading-medium {
//     @include typography.typography-s-heading-medium;
//     @include media-breakpoint-up(md) {
//       @include typography.typography-m-heading-medium;
//     }
//     @include funcs.media-breakpoint-up(lg) {
//       @include typography.typography-l-heading-medium;
//     }
//     @include funcs.media-breakpoint-up(xl) {
//       @include typography.typography-xl-heading-medium;
//     }
//   }

//   .h3, h3, .heading-low {
//     @include typography.typography-s-heading-low;
//     @include funcs.media-breakpoint-up(md) {
//       @include typography.typography-m-heading-low;
//     }
//     @include funcs.media-breakpoint-up(lg) {
//       @include typography.typography-l-heading-low;
//     }
//     @include funcs.media-breakpoint-up(xl) {
//       @include typography.typography-xl-heading-low;
//     }
//   }

//   .h4, h4, .title-high {
//     @include typography.typography-s-title-high;
//     @include funcs.media-breakpoint-up(md) {
//       @include typography.typography-m-title-high;
//     }
//     @include funcs.media-breakpoint-up(lg) {
//       @include typography.typography-l-title-high;
//     }
//     @include funcs.media-breakpoint-up(xl) {
//       @include typography.typography-xl-title-high;
//     }
//   }

//   .h5, h5, .title-medium {
//     @include typography.typography-s-title-medium;
//     @include funcs.media-breakpoint-up(md) {
//       @include typography.typography-m-title-medium;
//     }
//     @include funcs.media-breakpoint-up(lg) {
//       @include typography.typography-l-title-medium;
//     }
//     @include funcs.media-breakpoint-up(xl) {
//       @include typography.typography-xl-title-medium;
//     }
//   }

//   .h6, h6, .title-low {
//     @include typography.typography-s-title-low;
//     @include funcs.media-breakpoint-up(md) {
//       @include typography.typography-m-title-low;
//     }
//     @include funcs.media-breakpoint-up(lg) {
//       @include typography.typography-l-title-low;
//     }
//     @include funcs.media-breakpoint-up(xl) {
//       @include typography.typography-xl-title-low;
//     }
//   }

//   .body-high-default {
//     @include typography.typography-s-body-high-default;
//     @include funcs.media-breakpoint-up(md) {
//       @include typography.typography-m-body-high-default;
//     }
//     @include funcs.media-breakpoint-up(lg) {
//       @include typography.typography-l-body-high-default;
//     }
//     @include funcs.media-breakpoint-up(xl) {
//       @include typography.typography-xl-body-high-default;
//     }
//   }

//   .body-high-highlight {
//     @include typography.typography-s-body-high-highlight;
//     @include funcs.media-breakpoint-up(md) {
//       @include typography.typography-m-body-high-highlight;
//     }
//     @include funcs.media-breakpoint-up(lg) {
//       @include typography.typography-l-body-high-highlight;
//     }
//     @include funcs.media-breakpoint-up(xl) {
//       @include typography.typography-xl-body-high-highlight;
//     }
//   }

//   .body-medium-default {
//     @include typography.typography-s-body-medium-default;
//     @include funcs.media-breakpoint-up(md) {
//       @include typography.typography-m-body-medium-default;
//     }
//     @include funcs.media-breakpoint-up(lg) {
//       @include typography.typography-l-body-medium-default;
//     }
//     @include funcs.media-breakpoint-up(xl) {
//       @include typography.typography-xl-body-medium-default;
//     }
//   }

//   .body-medium-highlight {
//     @include typography.typography-s-body-medium-highlight;
//     @include funcs.media-breakpoint-up(md) {
//       @include typography.typography-m-body-medium-highlight;
//     }
//     @include funcs.media-breakpoint-up(lg) {
//       @include typography.typography-l-body-medium-highlight;
//     }
//     @include funcs.media-breakpoint-up(xl) {
//       @include typography.typography-xl-body-medium-highlight;
//     }
//   }

//   // following remain same across all breakpoints
//   .body-low-default {
//     @include typography.typography-xl-body-low-default;
//   }
//   .body-low-highlight {
//     @include typography.typography-xl-body-low-highlight;
//   }
//   .body-lowest-default {
//     @include typography.typography-xl-body-lowest-default;
//   }
//   .label-high {
//     @include typography.typography-xl-label-high;
//   }
//   .label-medium {
//     @include typography.typography-xl-label-medium;
//   }
//   .label-low {
//     @include typography.typography-xl-label-low;
//   }
//   .label-lowest {
//     @include typography.typography-xl-label-lowest;
//   }
//   .label-lowest2 {
//     @include typography.typography-xl-label-lowest2;
//   }
