<nav>
    <ul class="ba-breadcrumb__list" *ngIf="breadcrumbs.length">

      <!-- NON-TRUNCATED BREADCRUMB TRAIL (SHORT HISTORY)-->
      <ng-container *ngIf="breadcrumbs.length <5">
        <li *ngFor="let breadcrumb of breadcrumbs; let last = last;let i = index">
          <a mat-button color="primary" *ngIf="!last; else lastBreadcrumb" [routerLink]="breadcrumb.path" (click)="selectBreadcrumb(i)">
            {{ breadcrumb.label }}
          </a>
          <ng-template #lastBreadcrumb>
            <a mat-button color="primary" disabled>{{ breadcrumb.label }}</a>
          </ng-template>
        </li>
      </ng-container>

      <!-- TRUNCATED BREADCRUMB TRAIL (LONG HISTORY)-->
      <ng-container *ngIf="breadcrumbs.length > 4">
        <li>
          <a mat-button color="primary" [routerLink]="breadcrumbs[0].path">{{ breadcrumbs[0].label }}</a>
        </li>
        <li>
          <button mat-button color="primary" [matMenuTriggerFor]="menu">...</button>
          <mat-menu #menu="matMenu">
            <a mat-menu-item *ngFor="let breadcrumb of breadcrumbs.slice(1, breadcrumbs.length - 2)" [routerLink]="breadcrumb.path">{{ breadcrumb.label }}</a>
          </mat-menu>
        </li>
        <li *ngFor="let breadcrumb of breadcrumbs.slice(-2, breadcrumbs.length); let last = last">
          <a mat-button color="primary" *ngIf="!last; else lastBreadcrumb" [routerLink]="breadcrumb.path">{{ breadcrumb.label }}</a>
          <ng-template #lastBreadcrumb>
            <a mat-button color="primary" disabled>{{ breadcrumb.label }}</a>
          </ng-template>
        </li>
      </ng-container>

    </ul>
</nav>