 @use '@jeppesen-foreflight/dls-global-assets/dist/scss/base/external-tokens/component/_vars-breadcrumb' as *;
@use '@jeppesen-foreflight/dls-global-assets/dist/scss/base/_typographyMixins.scss' as typography;


.ba-breadcrumb__list {
  display: flex;
  list-style-type: none;

  li:not(:last-child)::after {
    content: '/';
    padding: 0 $component-breadcrumb-gap;
    @include typography.typography-s-body-medium-default;
    color: $component-breadcrumb-slash-textandicon;
  }
}
