@use '@jeppesen-foreflight/dls-global-assets/dist/scss/base/external-tokens/component/_vars-sidesheet' as *;

:host {
  mat-sidenav-container {
    height: 100vh;
  }

  mat-sidenav {
    background-color: $ui-background-page;
    display: flex;
    flex-direction: column;

    mat-toolbar {
      justify-content: space-between;
      background-color: $ui-background-page;
      padding-top: $component-sidesheet-padding-top;
      padding-right: $component-sidesheet-padding-top;
      padding-bottom: $component-sidesheet-padding-top;
      padding-left: $spacing-xl;
    }

    .sidesheet-content {
      flex-grow: 1;
    }

    &.mat-drawer-over {
      background-color: $component-sidesheet-floating-background;

      mat-toolbar {
        background-color: $component-sidesheet-floating-background;
      }
    }
  }

  .sidesheet-footer {
    position: absolute;
    padding: $component-sidesheet-footer-padding-top $component-sidesheet-padding-horizontal;
    bottom: $spacing-none;
    right: $spacing-none;
    width: 100%;

    .footer-actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: $component-sidesheet-footer-gap;
    }
  }
}
