:host {
  mat-sidenav-container {
    height: 100vh;
  }

  mat-sidenav {
    background-color: var(--foundation-ui-background-page);
    display: flex;
    flex-direction: column;

    mat-toolbar {
      justify-content: space-between;
      background-color: var(--foundation-ui-background-page);
      padding-top: var(--size-spacing-s);
      padding-right: var(--size-spacing-s);
      padding-bottom: var(--size-relaxed-spacing-s);
      padding-left: var(--size-relaxed-spacing-xl);
    }

    .sidesheet-content {
      flex-grow: 1;
    }

    &.mat-drawer-over {
      background-color: var(--foundation-ui-glass-surface-thick);

      mat-toolbar {
        background-color: var(--foundation-ui-glass-surface-thick);
      }
    }
  }

  .sidesheet-footer {
    position: absolute;
    padding: var(--size-relaxed-spacing-m) var(--size-relaxed-spacing-xl);
    bottom: var(--size-relaxed-spacing-none);
    right: var(--size-relaxed-spacing-none);
    width: 100%;

    .footer-actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: var(--size-relaxed-spacing-xs);
    }
  }
}
