@use '@jeppesen-foreflight/dls-global-assets/dist/scss/base/external-tokens/component/_vars-badge' as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.demo-section + .demo-section {
  margin-top: $foundation-spacing-m;
}
