/* You can add global styles to this file, and also import other style files */



body {
  background-color: var(--color-ui-background-lowest);
}

h6, h5 { 
  color: var(--color-ui-textandicon-high);
  margin-bottom: 1rem;
  margin-top: 2rem;
}