@use '@jeppesen-foreflight/dls-global-assets/dist/scss/base/_typographyMixins.scss' as typography;

mat-sidenav-container {
  .app-home-link {
    display: block;

    &:focus {
      outline: none;
    }
  }

  height: 100vh;

  mat-sidenav {
    width: 80px;
  }

  &.wide {
    mat-sidenav {
      width: 100px;
    }
  }

  &.labels-visible {
    mat-sidenav {
      mat-list-item {
        overflow: visible;
        margin-bottom: var(--foundation-spacing-2xl);
        padding-top: var(--foundation-spacing-2xs);
        padding-right: var(--foundation-spacing-none);
        height: var(--foundation-sizing-2xl);
        &.mdc-list-item--with-leading-icon.mdc-list-item--with-one-line {
          height: var(--foundation-sizing-2xl);
        }

        ::ng-deep .mdc-list-item__content {
          position: relative;
          bottom: -(var(--foundation-spacing-2xs));
          cursor: pointer;
        }
      }
    }
  }

  &:not(.labels-visible) {
    mat-sidenav {
      mat-list-item {
        --mdc-list-list-item-leading-icon-size: var(--foundation-sizing-xl);
      }
    }
  }
}

mat-sidenav {
  -webkit-backdrop-filter: blur(var(--foundation-effect-glass-background-blur, 100px));
  backdrop-filter: blur(var(--foundation-effect-glass-background-blur, 100px));
  border-right: var(--foundation-border-regular-width, 1px) solid var(--foundation-ui-divider-flat-high);
  padding: var(--foundation-spacing-l) var(--foundation-spacing-xs);

  .theme-relaxed & {
    padding-left: var(--foundation-spacing-xs, 8px);
    padding-right: var(--foundation-spacing-xs, 8px);
  }

  mat-list-item {
    &.mdc-list-item--with-leading-icon.mdc-list-item--with-one-line {
      height: var(--foundation-spacing-5xl);
    }

    &.mat-mdc-list-item {
      background-color: transparent;

      &:focus {
        background-color: var(--foundation-interactive-primary-background-enabled-tonal);
      }

      &:active {
        background-color: var(--foundation-interactive-primary-background-selected);
      }

      &:hover:not(:disabled),
      &.mat-list-item--toggle-on {
        background-color: var(--foundation-interactive-primary-background-hovered);

        .mat-icon {
          svg {
            filter: drop-shadow(var(--box-shadow-interactive-primary-glow-backlit));
          }
        }
      }

      .mdc-list-item__primary-text {
        @include typography.typography-m-label-low;
      }
    }
  }
}

::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
}

.sidenav-header {
  justify-content: center;
  display: flex;
}

.navigation__app-icon--light {
  display: none;
}

.navigation__app-icon--dark {
  display: block;
}

::ng-deep .theme-light .navigation__app-icon--light {
  display: block;
}

::ng-deep .theme-light .navigation__app-icon--dark {
  display: none;
}

mat-list-item.narrow {
  display: flex;
  .mat-mdc-list-item-icon {
    margin-left: var(--foundation-spacing-m);
    margin-right: var(--foundation-spacing-m);
  }
}

mat-list-item {
  display: block;
  text-align: center;
  padding-right: var(--foundation-spacing-none);
  margin-top: var(--foundation-spacing-s);
  .mat-mdc-list-item-icon {
    margin: 0;
  }
}

.menu-items {
  flex-grow: 1;
}

.bottom-icons {
  display: flex;
  bottom: var(--foundation-spacing-none);
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
