@use '@jeppesen-foreflight/dls-global-assets/dist/scss/base/external-tokens/component/_vars-navigation' as *;
@use '@jeppesen-foreflight/dls-global-assets/dist/scss/base/_typographyMixins.scss' as typography;

:host {
  mat-sidenav {
    .mat-icon {
      width: $component-navitem-rail-icon-size !important;
      height: $component-navitem-rail-icon-size !important;
      font-size: $component-navitem-rail-icon-size !important;

      svg {
        width: $component-navitem-rail-icon-size !important;
        height: $component-navitem-rail-icon-size !important;
      }
    }
  }
}

mat-sidenav-container {
  .app-home-link {
    display: block;

    &:focus {
      outline: none;
    }
  }

  height: 100vh;

  mat-sidenav {
    width: 80px;
    overflow-y: auto;
    --mdc-list-list-item-leading-icon-size: #{$component-navitem-rail-icon-size};
  }

  mat-sidenav-content {
    padding: $spacing-m;
    padding-bottom: $spacing-5xl;
    overflow-y: auto;
    box-sizing: border-box;
    height: 100%;
  }

  .page-content-wrapper {
    max-width: 1128px;
    margin-left: auto;
    margin-right: auto;
  }

  &.wide {
    mat-sidenav {
      width: 100px;
    }
  }

  &.labels-visible {
    mat-sidenav {
      --mdc-list-list-item-leading-space: #{$sizing-s};
      --mdc-list-list-item-trailing-space: #{$sizing-s};

      mat-list-item {
        overflow: visible;
        margin-bottom: $spacing-2xl;
        padding-top: $spacing-none;
        padding-left: $component-navitem-rail-label-padding-horizontal !important;
        padding-right: $component-navitem-rail-label-padding-horizontal !important;
        height: $sizing-2xl;

        .mdc-list-item__start {
          margin-left: $spacing-none !important;
          margin-right: $spacing-none !important;
        }

        &.mdc-list-item--with-leading-icon.mdc-list-item--with-one-line {
          height: $sizing-2xl;
        }
      }
    }
  }

  &:not(.labels-visible) {
    mat-sidenav {
      .mat-mdc-list-item.mdc-list-item {
        padding-left: 0 !important;
        padding-right: 0 !important;
        text-align: center !important;
      }
    }
  }
}

mat-sidenav {
  -webkit-backdrop-filter: blur($effect-glass-background-blur);
  backdrop-filter: blur($effect-glass-background-blur);
  border-right: $border-regular-width solid $ui-divider-flat-high;
  padding: $component-navitem-rail-padding $spacing-none;

  .theme-relaxed & {
    padding-left: $spacing-none;
    padding-right: $spacing-none;
  }

  mat-list-item {
    &.mdc-list-item--with-leading-icon.mdc-list-item--with-one-line {
      height: $component-navitem-minheight;
    }

    &.mat-mdc-list-item {
      background-color: transparent;
      padding-left: $spacing-none;
      padding-right: $spacing-none;

      &:focus {
        background-color: $component-navitem-background-selected;
      }

      &:active {
        background-color: $component-navitem-pressed-background;
      }

      &:hover:not(:disabled),
      &.mat-list-item--toggle-on {
        background-color: $component-navitem-hovered-background;

        .mat-icon {
          svg {
            filter: drop-shadow(var(--box-shadow-interactive-primary-glow-backlit));
          }
        }
      }

      .mdc-list-item__primary-text {
        @include typography.typography-m-label-low;
        padding-left: $spacing-none;
        padding-right: $spacing-none;
        white-space: normal;
        word-break: break-word;

        max-width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
}

.sidenav-header {
  justify-content: center;
  display: flex;
}

.navigation__app-icon--light {
  display: none;
}

.navigation__app-icon--dark {
  display: block;
}

::ng-deep .theme-light .navigation__app-icon--light {
  display: block;
}

::ng-deep .theme-light .navigation__app-icon--dark {
  display: none;
}

mat-list-item.narrow {
  .mat-mdc-list-item-icon {
    margin-left: $component-navitem-rail-label-padding-horizontal;
    margin-right: $component-navitem-rail-label-padding-horizontal;
  }
}

mat-list-item {
  text-align: center;
  padding-right: $spacing-none;
  margin-top: $spacing-2xs;
  .mat-mdc-list-item-icon {
    margin: $spacing-none;
  }
}

.menu-items {
  flex-grow: 1;
}

.bottom-icons {
  display: flex;
  bottom: $spacing-none;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
