.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--foundation-ui-background-medium);

  &--display-only {
    width: var(--foundation-sizing-6xl-fixed, 48px);
    height: var(--foundation-sizing-6xl-fixed, 48px);
    font-size: var(--foundation-sizing-2xl-fixed, 22px);
    cursor: default;
  }

  &--display-only-small {
    width: var(--foundation-sizing-3xl-fixed, 24px);
    height: var(--foundation-sizing-3xl-fixed, 24px);
    font-size: var(--foundation-sizing-s-fixed, 14px);
    cursor: default;
  }

  &--clickable {
    width: var(--foundation-sizing-5xl-fixed, 40px);
    height: var(--foundation-sizing-5xl-fixed, 40px);
    font-size: var(--foundation-sizing-s-fixed, 14px);
    cursor: pointer;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__monogram {
    font-weight: 500;
  }
}