.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;

  &--display-only {
    width: var(--size-base-sizing-48);
    height: var(--size-base-sizing-48);
    font-size: var(--size-base-font-size-22);
    cursor: default;
  }

  &--display-only-small {
    width: var(--size-base-sizing-24);
    height: var(--size-base-sizing-24);
    font-size: var(--size-base-font-size-14);
    cursor: default;
  }

  &--clickable {
    width: var(--size-base-sizing-40);
    height: var(--size-base-sizing-40);
    font-size: var(--size-base-font-size-14);
    cursor: pointer;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .user-profile--clickable & {
      width: var(--size-base-sizing-32);
      height: var(--size-base-sizing-32);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__letter {
    background-color: var(--foundation-static-gray);
    color: var(--foundation-static-white);
    font-family: var(--content-base-font-family-boeing-meso);
    font-weight: var(--content-base-font-weight-medium);
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}