<form #form="ngForm" (ngSubmit)="onSubmit(form)" style="display: flex;flex-direction: column;">
  <p style="margin: 20px 0px; color: var(--foundation-ui-textandicon-high);">
    Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
    in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <mat-slide-toggle name="requiredToggle" [(ngModel)]="requiredToggle" required color="primary"
    (change)="onChange($event)" (toggleChange)="onToggleChange()" #toggle="ngModel">
    Accept Terms
  </mat-slide-toggle>

  @if (toggle.invalid && toggle.touched) {
    <div style="color: var(--color-semantic-textandicon-error)">
      You must accept to continue.
    </div>
  }

  <button mat-flat-button type="submit" color="primary" style="width: 100px;margin-top: 20px;">Submit</button>
</form>

<div style="color: var(--foundation-ui-textandicon-high);margin: 10px 0;">
  @for (item of printText; track item) {
    <li>The {{ item[0] }} to {{item[1].checked}}</li>
  }
</div>