@use '@dasdigitalplatform/dls-global-assets/dist/scss/base/_variables.scss' as vars;
.col {
    margin-bottom: vars.$size-relaxed-spacing-2xl;
}

h6 { 
  color: var(--color-ui-textandicon-high);
  margin-bottom: 1rem;
}