
<h6>Switch/Slide Toggle</h6>

<p><mat-slide-toggle>Default</mat-slide-toggle></p>
<p><mat-slide-toggle color="accent">Accent</mat-slide-toggle></p>
<p><mat-slide-toggle color="warn">Warn</mat-slide-toggle></p>
<p><mat-slide-toggle color="primary">Primary</mat-slide-toggle></p>

<p><mat-slide-toggle disabled>Disabled</mat-slide-toggle></p>
<p><mat-slide-toggle disabled color="accent">Accent</mat-slide-toggle></p>
<p><mat-slide-toggle disabled color="warn">Warn</mat-slide-toggle></p>
<p><mat-slide-toggle disabled color="primary">Primary</mat-slide-toggle></p>
<br />
<p><mat-slide-toggle labelPosition="before">Text before - Default</mat-slide-toggle></p>
<p><mat-slide-toggle labelPosition="before" color="warn">Text before - Warn</mat-slide-toggle></p>
<p><mat-slide-toggle labelPosition="before" color="primary">Text before - Primary</mat-slide-toggle></p>
<p><mat-slide-toggle labelPosition="before" disabled>Disabled</mat-slide-toggle></p>