<mat-sidenav-container
  autosize="true"
  color="primary"
  [hasBackdrop]="navDrawerPresentation === NavDrawerPresentationEnum.MODAL"
  [class.collapse-to-rail] = "minifyOnCollapse"
>
  <mat-sidenav
    #sidenav
    (mouseleave)="!fixedOpen && opened && !intentionalOpen ? opened = false : null"
    [mode]="sidenavMode"
    [opened]="fixedOpen ? true : opened"
    [autoFocus]="true"
  >
    <!-- OPTIONAL BRANDING HEADER -->
    <ng-container *ngIf="navDrawerPresentation === NavDrawerPresentationEnum.STANDALONE">
      <div class="sidenav-header">

        <a class="app-home-link" [routerLink]="homeRoute">
          <img *ngIf="appLogo && opened" [src]="'./assets/' + appLogo + '-lettermark_Navigation_dark.svg'" class="navigation__app-icon--dark" alt="dark App Logo">
          <img *ngIf="appLogo && opened" [src]="'./assets/' + appLogo + '-lettermark_Navigation_light.svg'" class="navigation__app-icon--light" alt="light App Logo">
          <img *ngIf="appLogo && !opened" [src]="'./assets/' + appLogo + '-logomark_Navigation_dark.svg'" class="navigation__app-icon--dark" alt="dark App Logo">
          <img *ngIf="appLogo && !opened" [src]="'./assets/' + appLogo + '-logomark_Navigation_light.svg'" class="navigation__app-icon--light" alt="light App Logo">

          <mat-divider
              [vertical]="true"
              class="divider"
              *ngIf="opened"
            ></mat-divider> 
          <h5 class="app-name" [class.hide-app-name]="!opened">
            {{ appName }}
          </h5>
        </a>
      </div>
    </ng-container>

    <!-- DYNAMIC MENU -->
    <ng-container *ngFor="let section of navDrawerMenuItems">
      <!-- header section -->
      <div class="section-header" *ngIf="section.sectionHeader">
        <!-- If collapsed, show an icon... -->
        <mat-icon
          *ngIf="section.sectionIcon && !opened && navDrawerPresentation !== NavDrawerPresentationEnum.MODAL"
          matListItemIcon
          [svgIcon]="'icon-'+section.sectionIcon"
          color="primary"
        ></mat-icon>
        <!-- If expanded, show the section header text... -->
        <h6 class="section-header-label" *ngIf="opened || navDrawerPresentation === NavDrawerPresentationEnum.MODAL">
          {{ section.sectionHeader }}
        </h6>
      </div>

      <!-- navigation list -->
      <mat-nav-list>
        <ng-container *ngFor="let item of section.sectionMenuItems">
          <mat-list-item 
            (mouseenter)="opened = true"
            (focus) = "opened = true"
            (click)="onMenuItemClick(item); toggleSubMenu(item)"
            [routerLink]="item.route"
            [ngClass]="{ 'mat-list-item--toggle-on': item.toggled }"
          >
              <mat-icon *ngIf="item.icon" matListItemIcon
              [svgIcon]="item.toggled ? 'icon-'+item.icon+'-filled' : 'icon-'+item.icon"
            ></mat-icon>
            <div matListItemTitle class="section-label" *ngIf="opened || navDrawerPresentation === NavDrawerPresentationEnum.MODAL">
              {{ item.label }}
            </div>
            <mat-icon
              matListItemIcon
              *ngIf="item.children && opened"
              class="dropdown-icon"
              [class.expanded]="item.expanded"
              svgIcon="icon-arrow-drop-down"
            ></mat-icon>
          </mat-list-item>
          <div *ngIf="item.children && item.expanded && opened">
            <mat-nav-list class="level2-nav">
              <mat-list-item
                *ngFor="let child of item.children"
                [routerLink]="child.route"
                (click)="onMenuItemClick(child)"
                [ngClass]="{ 'mat-list-item--toggle-on': child.toggled }"
              >
                <mat-icon *ngIf="child.icon" matListItemIcon
                  [svgIcon]="child.toggled ? 'icon-'+child.icon+'-filled' : 'icon-'+child.icon"
                ></mat-icon>
                <div matListItemTitle class="section-label">
                  {{ child.label }}
                </div>
              </mat-list-item>
            </mat-nav-list>
          </div>
        </ng-container>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </ng-container>

    <!-- BOTTOM BUTTONS (max: 4) -->
    <!-- list for notification and profile (and up to two more)-->
    <mat-nav-list class="bottom-icons">
      <ng-template *ngTemplateOutlet="navBarBottomComponent1" />
      <ng-template *ngTemplateOutlet="navBarBottomComponent2" />
      <ng-template *ngTemplateOutlet="navBarBottomComponent3" />
      <ng-template *ngTemplateOutlet="navBarBottomComponent4" />
    </mat-nav-list>  

    <!-- Drag bar -->
    <mat-divider
      vertical
      class="sidenav-drag-handle"
      [class.enabled] = "isDraggable"
      (mousedown)="isDraggable && startDragging($event)"
      (touchstart)="isDraggable && startDragging($event)">
    </mat-divider>
  </mat-sidenav>
  <mat-sidenav-content #sidenavContent class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>