@use "@design/dls-global-assets/dist/scss/base/_variables.scss" as vars;
@use "@design/dls-global-assets/dist/scss/base/_variablesBase.scss" as varsbase;

// Constants
$section-label-max-width: 82%;
$side-nav-width: 360px;

mat-sidenav-container {
  // height: calc(100vh - 64px);
  height: 100vh;
}

// Override the hiding of the drawer when !open if we have applied the
// "collapse-to-rail" class
.collapse-to-rail {

  //New style compatible with angular 19
  .mat-drawer {
    visibility: visible !important;
  }

  .mat-drawer[style*="visibility: hidden"] {
    display: block !important;
    visibility: visible !important;
  }

  mat-sidenav:not(.mat-drawer-opened) {
    transform: translate3d(0, 0, 0) !important;
    visibility: visible !important;
    width: vars.$size-relaxed-spacing-8xl !important;
    overflow: hidden;
  }

  // Override Angular Material 19 default styles
  .mat-drawer:not(.mat-drawer-opened):not(.mat-drawer-animating) {
    visibility: visible !important;
    box-shadow: none !important;
  }

  .mat-drawer:not(.mat-drawer-opened):not(.mat-drawer-animating) .mat-drawer-inner-container {
    display: block !important;
  }
}

mat-sidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: $side-nav-width;
<<<<<<< Updated upstream
  backdrop-filter: blur($size-base-shadow-blur-100);
  padding: $size-relaxed-spacing-l $size-relaxed-spacing-s;
=======
  backdrop-filter: blur(vars.$size-base-shadow-blur-100);
  padding: vars.$size-relaxed-spacing-l vars.$size-relaxed-spacing-s;
>>>>>>> Stashed changes
  box-shadow: none;
  border-right-color: var(--mat-sidenav-container-divider-color, transparent);
  border-right-width: 1px;
  border-right-style: solid;
<<<<<<< Updated upstream
=======
  backdrop-filter: blur(vars.$size-base-shadow-blur-100);
  padding: vars.$size-relaxed-spacing-l vars.$size-relaxed-spacing-s;
>>>>>>> Stashed changes

  mat-list-item {
    .mdc-list-item__content {
      overflow: visible;
    }
    &.mat-mdc-list-item {
      background-color: transparent;

      &:focus {
        background-color: var(--color-interactive-primary-background-enabled-tonal);
      }

      &:active {
        background-color: var(--color-interactive-primary-background-selected);
      }

      &:hover:not(:disabled), &.mat-list-item--toggle-on {
        background-color: var(--color-interactive-primary-background-hovered);

        .mdc-list-item__primary-text {
          text-shadow: var(--box-shadow-interactive-primary-glow-backlit);
          overflow: visible;
        }

        .mat-icon.mat-mdc-list-item-icon {
          overflow: visible;
          filter: drop-shadow(var(--box-shadow-interactive-primary-glow-backlit));
        }
      }
    }

    .mdc-list-item__primary-text {
      font-weight: vars.$content-base-font-weight-medium;
    }
  }

  .mat-mdc-nav-list {
    padding: vars.$size-relaxed-spacing-none;
  }

  ba-user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

html .theme-condensed {
    .mat-sidenav {
      padding: vars.$size-relaxed-spacing-m vars.$size-relaxed-spacing-s;
    }
}

html {
  .mat-sidenav {
    --mat-sidenav-container-width: #{$side-nav-width};

    .mdc-list-item--with-leading-icon.mdc-list-item {
      padding-left: vars.$size-relaxed-spacing-none;
      padding-right: vars.$size-relaxed-spacing-none;
    }   
    .level2-nav,
    .level3-nav {
        .mat-list-item.mat-mdc-list-item,
        .mdc-list-item--with-leading-icon.mdc-list-item {
          padding-left: vars.$size-relaxed-spacing-2xl;
        }
      }
  }
}

.sidenav-header {
  justify-content: left;
  display: flex;

  .divider {
    transform: rotate(36deg);
    margin-left: vars.$size-relaxed-sizing-m;
    margin-right: vars.$size-relaxed-sizing-m;
  }

  .app-home-link {
    justify-content: left;
    display: flex;

    &:focus {
      outline: none;
    }
  }
}

.app-name {
  color: var(--color-ui-textandicon-high);
  display: flex;
  align-items: center;
}

.hide-app-name {
  opacity: vars.$size-base-spacing-0px;
  height: vars.$size-base-spacing-0px;
  display: none;
}

.navigation__app-icon--light {
  display: none;
}

.navigation__app-icon--dark {
  display: block;
  &.letter-mark {
<<<<<<< Updated upstream
    padding: 0 $size-relaxed-sizing-m;
=======
    padding-left: vars.$size-relaxed-sizing-m;
>>>>>>> Stashed changes
  }
}

.theme-light .navigation__app-icon--light {
  display: block;
  &.letter-mark {
<<<<<<< Updated upstream
    padding: 0 $size-relaxed-sizing-m;
=======
    padding-left: vars.$size-relaxed-sizing-m;
>>>>>>> Stashed changes
  }
}

.theme-light .navigation__app-icon--dark {
  display: none;
}

.section-header {
  justify-content: left;
  text-align: center;
  align-items: center;

  .section-header-label {
    font-size: vars.$responsive-type-label-medium-size-m;
    padding-left: vars.$size-relaxed-spacing-m;
    color: var(--color-ui-textandicon-low);
    text-align: left;
  }
}

.bottom-icons {
  display: flex;
  flex-shrink: 0;
  position: absolute;
  bottom: vars.$size-relaxed-spacing-s;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
<<<<<<< Updated upstream
  padding: 0 $size-relaxed-spacing-xs !important;
=======
  padding: 0 vars.$size-relaxed-spacing-xs !important;
>>>>>>> Stashed changes
}

.dropdown-icon {
  position: absolute;
  right: 0;
  transition: transform 0.3s;
}

mat-nav-list {
  flex: 1 1 auto;
  overflow-y: auto;
  // padding: 0;
}

.dropdown-icon.expanded {
  transform: rotate(180deg);
}


.section-label {
  max-width: $section-label-max-width;
}

.mat-sidenav .mat-divider {
  margin-top: vars.$size-relaxed-spacing-s;
  margin-bottom: vars.$size-relaxed-spacing-s;
  &.sidenav-drag-handle {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-left: vars.$size-relaxed-sizing-s;

    &.enabled {
      cursor: ew-resize;

      &:hover,
      &:focus,
      &:active {
        border-right-width: vars.$size-relaxed-spacing-2xs;
      }

      &:hover {
        border-color: var(--color-interactive-accent-border-hovered);
      }

      &:focus {
        border-color: var(--color-interactive-accent-border-selected);
      }

      &:active {
        border-color: var(--color-interactive-accent-border-enabled);
      }
    }
  }
}
