<mat-sidenav-container
  autosize="true"
  color="primary"
  [hasBackdrop]="!fixedOpen"
  [class.collapse-to-rail] = "minifyOnCollapse"
  (backdropClick)="onBackdropClick()"
>
  <mat-sidenav
    #sidenav
    (mouseleave)="!fixedOpen && opened && !intentionalOpen ? opened = false : null"
    [mode]="sidenavMode"
    [opened]="fixedOpen ? true : opened"
    [autoFocus]="true"
  >
    <!-- OPTIONAL BRANDING HEADER -->
    <ng-container>
      <div class="sidenav-header">
        <a class="app-home-link" [routerLink]="homeRoute">
          @if (appLogo && opened) {
            <img [src]="'./assets/' + appLogo + '-lettermark_Navigation_dark.svg'" class="navigation__app-icon--dark letter-mark" alt="dark App Logo">
          }
          @if (appLogo && opened) {
            <img [src]="'./assets/' + appLogo + '-lettermark_Navigation_light.svg'" class="navigation__app-icon--light letter-mark" alt="light App Logo">
          }
          @if (appLogo && !opened) {
            <img [src]="'./assets/' + appLogo + '-logomark_Navigation_dark.svg'" class="navigation__app-icon--dark" alt="dark App Logo">
          }
          @if (appLogo && !opened) {
            <img [src]="'./assets/' + appLogo + '-logomark_Navigation_light.svg'" class="navigation__app-icon--light" alt="light App Logo">
          }
          @if (opened) {
            <mat-divider
              [vertical]="true"
              class="divider"
            ></mat-divider>
          }
          <h5 class="app-name" [class.hide-app-name]="!opened">
            {{ appName }}
          </h5>
        </a>
      </div>
    </ng-container>

    <!-- DYNAMIC MENU -->
    @for (section of navDrawerMenuItems; track section) {
      <ng-container>
        <!-- header section -->
        @if (section.sectionHeader) {
          <div class="section-header">
            <!-- If collapsed, show an icon... -->
            @if (section.sectionIcon && !opened && navDrawerPresentation !== NavDrawerPresentationEnum.MODAL) {
              <mat-icon
              matListItemIcon
              [svgIcon]="'icon-'+section.sectionIcon"
              color="primary"
            ></mat-icon>
            }
            <!-- If expanded, show the section header text... -->
            @if (opened) {
              <h6 class="section-header-label">
                {{ section.sectionHeader }}
              </h6>
            }
          </div>
        }
  
        <!-- navigation list -->
        <mat-nav-list>
          @for (item of section.sectionMenuItems; track item) {
            <ng-container>
              <mat-list-item
                matListItemTitle 
                [routerLink]="item.route"
                (mouseenter)="opened = true"
                (focus)="opened = true"
                (click)="onMenuItemClick(item); 
                toggleSubMenu(item)"
                [ngClass]="{ 'mat-list-item--toggle-on': item.toggled }"
                >
                @if (item.icon) {
                  <mat-icon matListItemIcon
                    [svgIcon]="item.toggled ? 'icon-'+item.icon+'-filled' : 'icon-'+item.icon"
                  ></mat-icon>
                }    
                @if (opened || navDrawerPresentation === NavDrawerPresentationEnum.MODAL) {
                  <div matListItemTitle class="section-label">
                    {{ item.label }}
                  </div>
                }    
                @if (item.children && opened) {
                  <mat-icon
                    matListItemIcon
                    class="dropdown-icon"
                    [class.expanded]="item.expanded"
                    svgIcon="icon-arrow-drop-down"
                  ></mat-icon>
                }    
              </mat-list-item>
          
              @if (item.children && item.expanded && opened) {
                <div>
                  <mat-nav-list class="level2-nav">
                    @for (child of item.children; track child) {
                      <mat-list-item
                        [routerLink]="child.route"
                        (click)="onMenuItemClick(child)"
                        [ngClass]="{ 'mat-list-item--toggle-on': child.toggled }"
                        >
                        @if (child.icon) {
                          <mat-icon matListItemIcon
                            [svgIcon]="child.toggled ? 'icon-'+child.icon+'-filled' : 'icon-'+child.icon"
                          ></mat-icon>
                        }
                        <div matListItemTitle class="section-label">
                          {{ child.label }}
                        </div>
                      </mat-list-item>
                    }
                  </mat-nav-list>
                </div>
              }    
            </ng-container>
          }
          <mat-divider></mat-divider>
        </mat-nav-list>
      </ng-container>
    }

    <!-- BOTTOM BUTTONS (max: 4) -->
    <!-- list for notification and profile (and up to two more)-->
    <mat-nav-list class="bottom-icons">
      <ng-template *ngTemplateOutlet="navBarBottomComponent1" />
      <ng-template *ngTemplateOutlet="navBarBottomComponent2" />
      <ng-template *ngTemplateOutlet="navBarBottomComponent3" />
      <ng-template *ngTemplateOutlet="navBarBottomComponent4" />
    </mat-nav-list>  

    <!-- Drag bar -->
    <!-- Removed Mat-divider as backdrop-click is not active for all type of navigation-drawer. 
    Kept the html code here for later improvements required in future-->
    <!-- <mat-divider
      vertical
      class="sidenav-drag-handle"
      [class.enabled] = "isDraggable"
      >
    </mat-divider> -->
  </mat-sidenav>
  <mat-sidenav-content #sidenavContent class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>