 <div style="position: absolute; top: 0; left: 0; right: 0; height: 0; z-index: 1;">
        <div style="position: absolute; top: calc(var(--size-spacing-m) + 16px); left: var(--size-spacing-xl);">
            <mat-icon svgIcon="icon-warning"></mat-icon>
        </div>

        <div style="position: absolute; top: calc(var(--size-spacing-s) + 2px); right: var(--size-spacing-s);">
            <button matIconButton mat-dialog-close="true">
              <mat-icon svgIcon="icon-close"></mat-icon>
            </button>
        </div>
      </div>
    
    
      <h2 mat-dialog-title style="padding-top: calc(var(--base-dimension-dynamic-s12) - 4px); padding-left: var(--size-spacing-l); margin-top: var(--size-spacing-none);">Confirm delete</h2>
      <mat-dialog-content>
       <p>Enter the reason for deletion:</p>

    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Reason for deletion</mat-label>
      <input matInput required>
    </mat-form-field>

      </mat-dialog-content>
    
      <mat-dialog-actions style="display: flex; gap: var(--size-spacing-xs);">
     
        <button matButton="outlined" mat-dialog-close>Cancel</button>

        <button
          matButton="filled"
          mat-dialog-close
          >
          Delete
        </button>
      </mat-dialog-actions>