@use '@angular/material' as mat;
@use '../m3-theme.scss' as m3;
@use '../typography' as typography;

// Map to: xl-label-medium
$chip-body-2: mat.m2-define-typography-level($font-size: var(--responsive-type-label-medium-size-xl),
		$line-height: var(--responsive-type-label-medium-height-xl),
		$font-weight: var(--content-base-font-weight-medium),
		$letter-spacing: var(--responsive-type-label-medium-letter-xl),
	);

$chips-typography-config: mat.m2-define-typography-config($font-family: var(--content-base-font-family-boeing-meso),
		$headline-1: typography.$dls-headline-1,
		$headline-2: typography.$dls-headline-2,
		$headline-3: typography.$dls-headline-3,
		$headline-4: typography.$dls-headline-4,
		$headline-5: typography.$dls-headline-5,
		$headline-6: typography.$dls-headline-6,
		$subtitle-1: typography.$dls-subtitle-1,
		$subtitle-2: typography.$dls-subtitle-2,
		$body-1: typography.$dls-body-1,
		$body-2: $chip-body-2,
		$caption: typography.$dls-caption,
		$button: typography.$dls-button,
	);

:root {
	// The `-theme` mixin can be used to include the component's styles for all theme dimensions at once
	// @include mat.checkbox-theme(m3.$dark-theme);
	// If needed use the single dimension mixins to override particular aspects
	// @include mat.button-base($dark-theme);
	@include mat.chips-theme(m3.$dark-theme);
	@include mat.chips-typography($chips-typography-config);
	// @include mat.button-density(m3.$dark-theme);

}

// Apply the light theme only when the user prefers light themes.
.theme-light {
	@include mat.chips-color(m3.$light-theme);
}

.mat-mdc-standard-chip {
	&.avatar-chip {
		--mat-chip-container-shape-radius: #{var(--size-relaxed-radius-full)} !important;

		.mdc-evolution-chip__action {
			padding-left: #{var(--size-relaxed-spacing-2xs)} !important;
		}
	}

	&.elevated {
		--mat-chip-elevated-container-color: var(--foundation-ui-background-high) !important;
		--mat-chip-outline-width: 0 !important;
		--mat-chip-outline-color: transparent !important;
		box-shadow: var(--box-shadow-elevation-1);
	}

	&.assistive {
		.mdc-evolution-chip__action {
			cursor: pointer;
		}
	}
}

.mdc-evolution-chip__text-label {
	display: flex;
	align-items: center;
	gap: #{var(--size-relaxed-spacing-xs)};
}

html,
html .theme-light,
html .theme-dark {
	.mat-mdc-standard-chip {

		//--mat-chip-container-shape-family: rounded;
		--mat-chip-container-shape-radius: #{var(--size-relaxed-radius-s)};
		// --mat-chip-with-avatar-avatar-shape-family: rounded;
		// --mat-chip-with-avatar-avatar-shape-radius: 14px 14px 14px 14px;
		// --mat-chip-with-avatar-avatar-size: 28px;
		// --mat-chip-with-icon-icon-size: 18px;
		--mat-chip-outline-width: #{var(--size-base-border-width-1)};
		--mat-chip-outline-color: var(--foundation-interactive-primary-border-enabled);
		--mat-chip-disabled-outline-color: transparent;
		--mat-chip-focus-outline-color: transparent;
		// --mat-chip-hover-state-layer-opacity: 0.04;
		// --mat-chip-with-avatar-disabled-avatar-opacity: 1;
		// --mat-chip-flat-selected-outline-width: 0;
		// --mat-chip-selected-hover-state-layer-opacity: 0.04;
		// --mat-chip-with-trailing-icon-disabled-trailing-icon-opacity: 1;
		// --mat-chip-with-icon-disabled-icon-opacity: 1;
		// --mat-chip-disabled-container-opacity: 0.4;
		// --mat-chip-trailing-action-opacity: 0.54;
		// --mat-chip-trailing-action-focus-opacity: 1;
		// --mat-chip-trailing-action-state-layer-color: transparent;
		// --mat-chip-selected-trailing-action-state-layer-color: transparent;
		// --mat-chip-trailing-action-hover-state-layer-opacity: 0;
		// --mat-chip-trailing-action-focus-state-layer-opacity: 0;
		--mat-chip-disabled-label-text-color: var(--foundation-interactive-primary-textandicon-selected);
		--mat-chip-elevated-container-color: transparent;
		// --mat-chip-elevated-selected-container-color: #e0e0e0;
		// --mat-chip-elevated-disabled-container-color: #e0e0e0;
		// --mat-chip-flat-disabled-selected-container-color: #e0e0e0;
		// --mat-chip-focus-state-layer-color: black;
		// --mat-chip-hover-state-layer-color: black;
		// --mat-chip-selected-hover-state-layer-color: black;
		// --mat-chip-focus-state-layer-opacity: 0.12;
		// --mat-chip-selected-focus-state-layer-color: black;
		// --mat-chip-selected-focus-state-layer-opacity: 0.12;
		--mat-chip-label-text-color: var(--foundation-interactive-primary-textandicon-selected);
		--mat-chip-selected-label-text-color: var(--foundation-interactive-primary-textandicon-inverse);
		--mat-chip-with-icon-icon-color: var(--foundation-interactive-primary-textandicon-selected);
		--mat-chip-with-icon-disabled-icon-color: var(--foundation-interactive-accent-textandicon-inverse);
		--mat-chip-with-icon-selected-icon-color: var(--foundation-interactive-primary-textandicon-inverse);
		--mat-chip-with-trailing-icon-disabled-trailing-icon-color: var(--foundation-interactive-accent-textandicon-inverse);
		--mat-chip-with-trailing-icon-trailing-icon-color: var(--foundation-interactive-primary-textandicon-selected);
		--mat-chip-selected-disabled-trailing-icon-color: var(--foundation-interactive-accent-textandicon-inverse);
		--mat-chip-selected-trailing-icon-color: var(--foundation-interactive-accent-textandicon-inverse);
	}
}

html,
html .theme-light,
html .theme-dark {

	.mat-mdc-standard-chip.mat-mdc-chip-selected.mat-primary,
	.mat-mdc-standard-chip.mat-mdc-chip-highlighted.mat-primary {
		// --mat-chip-disabled-label-text-color: white;
		// --mat-chip-elevated-container-color: #673ab7;
		--mat-chip-elevated-selected-container-color: var(--foundation-interactive-accent-background-enabled-filled);
		// --mat-chip-elevated-disabled-container-color: #673ab7;
		// --mat-chip-flat-disabled-selected-container-color: #673ab7;
		// --mat-chip-focus-state-layer-color: black;
		// --mat-chip-hover-state-layer-color: black;
		// --mat-chip-selected-hover-state-layer-color: black;
		// --mat-chip-focus-state-layer-opacity: 0.12;
		// --mat-chip-selected-focus-state-layer-color: black;
		// --mat-chip-selected-focus-state-layer-opacity: 0.12;
		--mat-chip-label-text-color: var(--foundation-interactive-primary-textandicon-selected);
		--mat-chip-selected-label-text-color: var(--foundation-interactive-primary-textandicon-inverse);
		--mat-chip-with-icon-icon-color: var(--foundation-interactive-primary-textandicon-selected);
		--mat-chip-with-icon-disabled-icon-color: var(--foundation-interactive-accent-textandicon-inverse);
		--mat-chip-with-icon-selected-icon-color: var(--foundation-interactive-primary-textandicon-inverse);
		--mat-chip-with-trailing-icon-disabled-trailing-icon-color: var(--foundation-interactive-accent-textandicon-inverse);
		--mat-chip-with-trailing-icon-trailing-icon-color: var(--foundation-interactive-primary-textandicon-selected);
		--mat-chip-selected-disabled-trailing-icon-color: var(--foundation-interactive-accent-textandicon-inverse);
		--mat-chip-selected-trailing-icon-color: var(--foundation-interactive-accent-textandicon-inverse);
	}
}

html,
html .theme-light,
html .theme-dark {

	.mat-mdc-standard-chip.mat-mdc-chip-selected.mat-accent,
	.mat-mdc-standard-chip.mat-mdc-chip-highlighted.mat-accent {
		// --mat-chip-disabled-label-text-color: rgba(0, 0, 0, 0.87);
		// --mat-chip-elevated-container-color: #ffd740;
		// --mat-chip-elevated-selected-container-color: #ffd740;
		// --mat-chip-elevated-disabled-container-color: #ffd740;
		// --mat-chip-flat-disabled-selected-container-color: #ffd740;
		// --mat-chip-focus-state-layer-color: black;
		// --mat-chip-hover-state-layer-color: black;
		// --mat-chip-selected-hover-state-layer-color: black;
		// --mat-chip-focus-state-layer-opacity: 0.12;
		// --mat-chip-selected-focus-state-layer-color: black;
		// --mat-chip-selected-focus-state-layer-opacity: 0.12;
		--mat-chip-label-text-color: var(--foundation-interactive-primary-textandicon-selected);
		--mat-chip-selected-label-text-color: var(--foundation-interactive-primary-textandicon-inverse);
		--mat-chip-with-icon-icon-color: var(--foundation-interactive-primary-textandicon-selected);
		--mat-chip-with-icon-disabled-icon-color: var(--foundation-interactive-accent-textandicon-inverse);
		--mat-chip-with-icon-selected-icon-color: var(--foundation-interactive-primary-textandicon-inverse);
		--mat-chip-with-trailing-icon-disabled-trailing-icon-color: var(--foundation-interactive-accent-textandicon-inverse);
		--mat-chip-with-trailing-icon-trailing-icon-color: var(--foundation-interactive-primary-textandicon-selected);
		--mat-chip-selected-disabled-trailing-icon-color: var(--foundation-interactive-accent-textandicon-inverse);
		--mat-chip-selected-trailing-icon-color: var(--foundation-interactive-accent-textandicon-inverse);
	}
}
