@use '@angular/material' as mat;
@use '@jeppesen-foreflight/dls-global-assets/dist/scss/base/_compositionMixins.scss' as composition;
@use '../m3-theme.scss' as m3;

:root {
  @include mat.divider-theme(m3.$dark-theme);
}

.theme-light {
  @include mat.divider-color(m3.$light-theme);
}

mat-divider {
  &.mat-divider {
    &.specular {
      border-top-color: var(--foundation-ui-glass-divider-specular-44);
      border-right-color: var(--foundation-ui-glass-divider-specular-44);
    }

    &.mat-divider-inset {
      margin-left: var(--size-spacing-m);
      margin-right: var(--size-spacing-none);
      border-top-color: var(--foundation-ui-divider-flat-low);

      &.middle-inset {
        margin-left: var(--size-spacing-m);
        margin-right: var(--size-spacing-m);
      }
    }
  }
}

html,
html .theme-light,
html .theme-dark {
  --mat-divider-color: var(--foundation-ui-divider-flat-high);
  --mat-divider-width: 1px;
}
