:root {
  --mat-icon-color: inherit;

  .mat-icon.mat-primary {
    --mat-icon-color: inherit;
  }

  .mat-icon.mat-accent {
    --mat-icon-color: inherit;
  }

  .mat-icon.mat-warn {
    --mat-icon-color: inherit;
  }

}
