// Import Angular Material library with an alias for convenience
@use '@angular/material' as mat;

// Import theme configurations for the application
@use '../m3-theme.scss' as m3; // Imports user-defined themes, e.g., light and dark theme settings


:root {
  // Apply a dark theme to the Angular Material progress spinner
  @include mat.progress-spinner-theme(m3.$dark-theme);
}

// Define a light theme for the progress spinner in the `.theme-light` class
.theme-light {
  @include mat.progress-spinner-color(m3.$light-theme);
}

html,
html .theme-light,
html .theme-dark {
    --mat-progress-spinner-active-indicator-color: var(--foundation-semantic-background-info-filled); //info is by default when no class is selected

  .progress-error {
    --mat-progress-spinner-active-indicator-color: var(--foundation-semantic-background-error-filled);
  }
  
  .progress-warning {
    --mat-progress-spinner-active-indicator-color: var(--foundation-semantic-background-warning-filled);
  }
  
  .progress-success {
    --mat-progress-spinner-active-indicator-color: var(--foundation-semantic-background-success-filled);
  }

  .progress-info {
    --mat-progress-spinner-active-indicator-color: var(--foundation-semantic-background-info-filled);
  }
}