// Import Angular Material library with an alias for convenience

// Import theme configurations for the application

:root {
  --mat-progress-bar-active-indicator-color: var(--semantic-background-info-filled); //info is by default when no class is selected

  .progress-error {
    --mat-progress-bar-active-indicator-color: var(--semantic-background-error-filled);
  }

  .progress-warning {
    --mat-progress-bar-active-indicator-color: var(--semantic-background-warning-filled);
  }

  .progress-success {
    --mat-progress-bar-active-indicator-color: var(--semantic-background-success-filled);
  }

  .progress-info {
    --mat-progress-bar-active-indicator-color: var(--semantic-background-info-filled);
  }
}
