@use "@angular/material" as mat;
@use "../m3-theme" as m3;

:root {
  @include mat.sidenav-theme(m3.$dark-theme);
}

.theme-light {
  @include mat.sidenav-color(m3.$light-theme);
}

html,
html .theme-light,
html .theme-dark {
  --mat-sidenav-container-background-color: var(--color-ui-glass-surface-thinnest);
  --mat-sidenav-scrim-color: var(--color-ui-background-low);
  --mat-sidenav-container-text-color: var(--color-ui-textandicon-high);
  --mat-sidenav-container-divider-color: var(--color-ui-divider-flat-high);
  --mat-sidenav-content-background-color: var(--color-ui-background-medium);
}
