@use '@angular/material' as mat;
@use '../m3-theme' as m3;
@use '@jeppesen-foreflight/dls-global-assets/dist/scss/base/external-tokens/foundation' as dls;

:root {
}

.theme-light {
}
.theme-dark {
}


mat-slide-toggle:not(.mat-warn) {
  .mdc-switch--checked:not(.mdc-switch--disabled) {
    .mdc-switch__track::after,
    .mdc-switch__track::before {
      border-color: var(--foundation-interactive-accent-background-enabled-filled);
    }
  }
}

.mdc-switch--disabled.mdc-switch--checked {
  .mdc-switch__track::after,
  .mdc-switch__track::before {
    border-color: var(--foundation-interactive-primary-border-disabled);
  }
}

html,
html .theme-light,
html .theme-dark {
  // --mat-slide-toggle-disabled-selected-icon-opacity: 0.38;
  // --mat-slide-toggle-disabled-track-opacity: 0.12;
  // --mat-slide-toggle-disabled-unselected-icon-opacity: 0.38;

  --mat-slide-toggle-handle-height: var(--size-sizing-xl);
  --mat-slide-toggle-handle-shape: var(--size-sizing-xl);
  --mat-slide-toggle-handle-width: var(--size-sizing-xl);
  --mat-slide-toggle-selected-icon-size: var(--size-sizing-l);
  --mat-slide-toggle-track-height: var(--size-sizing-2xl);
  --mat-slide-toggle-track-shape: var(--size-radius-full);
  --mat-slide-toggle-track-width: var(--size-sizing-5xl);
  --mat-slide-toggle-unselected-icon-size: var(--size-sizing-l);

  --mat-slide-toggle-selected-hover-state-layer-opacity: 0;
  --mat-slide-toggle-unselected-hover-state-layer-opacity: 0;
  // --mat-slide-toggle-unselected-pressed-state-layer-opacity: 0.1;
  // --mat-slide-toggle-disabled-selected-handle-opacity: 0.38;
  // --mat-slide-toggle-disabled-unselected-handle-opacity: 0.38;

  --mat-slide-toggle-unselected-handle-size: var(--size-sizing-xl);
  --mat-slide-toggle-selected-handle-size: var(--size-sizing-xl);
  --mat-slide-toggle-pressed-handle-size: var(--size-sizing-xl);
  --mat-slide-toggle-with-icon-handle-size: var(--size-sizing-xl);

  --mat-slide-toggle-selected-handle-horizontal-margin: 0;
  --mat-slide-toggle-selected-with-icon-handle-horizontal-margin: 0;
  --mat-slide-toggle-selected-pressed-handle-horizontal-margin: 0;
  --mat-slide-toggle-unselected-handle-horizontal-margin: 0;
  --mat-slide-toggle-unselected-with-icon-handle-horizontal-margin: 0;
  --mat-slide-toggle-unselected-pressed-handle-horizontal-margin: 0;

  // --mat-slide-toggle-visible-track-opacity: 1;
  // --mat-slide-toggle-hidden-track-opacity: 1;
  // --mat-slide-toggle-visible-track-transition: transform 75ms 0ms cubic-bezier(0, 0, 0.2, 1);
  // --mat-slide-toggle-hidden-track-transition: transform 75ms 0ms cubic-bezier(0.4, 0, 0.6, 1);

  --mat-slide-toggle-track-outline-width: var(--size-border-width-s);
  --mat-slide-toggle-selected-track-outline-width: var(--size-sizing-3xs);
  --mat-slide-toggle-disabled-unselected-track-outline-width: var(--size-border-width-s);
}

html,
html .theme-light,
html .theme-dark {
  --mat-slide-toggle-track-outline-color: var(--foundation-interactive-primary-textandicon-secondary-default);
  --mat-slide-toggle-label-text-color: var(--foundation-ui-textandicon-medium);
  --mat-slide-toggle-selected-focus-state-layer-color: var(--foundation-interactive-primary-textandicon-inverse);
  --mat-slide-toggle-selected-handle-color: var(--foundation-interactive-primary-textandicon-inverse);
  --mat-slide-toggle-selected-hover-state-layer-color: var(--foundation-interactive-primary-textandicon-inverse);
  --mat-slide-toggle-selected-pressed-state-layer-color: var(--foundation-interactive-primary-textandicon-inverse);
  --mat-slide-toggle-selected-focus-handle-color: var(--foundation-interactive-primary-textandicon-inverse);
  --mat-slide-toggle-selected-hover-handle-color: var(--foundation-interactive-primary-textandicon-inverse);
  --mat-slide-toggle-selected-pressed-handle-color: var(--foundation-interactive-primary-textandicon-inverse);
  --mat-slide-toggle-selected-focus-track-color: var(--foundation-interactive-accent-background-enabled-filled);
  --mat-slide-toggle-selected-hover-track-color: var(--foundation-interactive-accent-background-enabled-filled);
  --mat-slide-toggle-selected-pressed-track-color: var(--foundation-interactive-accent-background-enabled-filled);
  --mat-slide-toggle-selected-track-color: var(--foundation-interactive-accent-background-enabled-filled);

  --mat-slide-toggle-disabled-selected-handle-color: var(--foundation-interactive-primary-textandicon-disabled);
  --mat-slide-toggle-disabled-selected-icon-color: var(--foundation-interactive-primary-textandicon-inverse);
  --mat-slide-toggle-disabled-selected-track-color: var(--foundation-interactive-primary-background-enabled-tonal);
  --mat-slide-toggle-unselected-handle-color: var(--foundation-interactive-primary-textandicon-inverse);
  --mat-slide-toggle-disabled-unselected-icon-color: var(--foundation-interactive-primary-textandicon-inverse);
  --mat-slide-toggle-disabled-unselected-track-color: var(--foundation-interactive-primary-background-enabled-tonal);
  --mat-slide-toggle-handle-surface-color: var(--foundation-interactive-primary-textandicon-inverse);
  //--mat-slide-toggle-handle-elevation-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  //--mat-slide-toggle-handle-shadow-color: black;
  //--mat-slide-toggle-disabled-handle-elevation-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  --mat-slide-toggle-selected-icon-color: var(--foundation-interactive-accent-textandicon-selected);
  --mat-slide-toggle-unselected-focus-handle-color: var(--foundation-interactive-primary-textandicon-primary-default);
  --mat-slide-toggle-unselected-focus-state-layer-color: var(--foundation-interactive-primary-textandicon-primary-default);
  --mat-slide-toggle-unselected-focus-track-color: var(--foundation-interactive-primary-background-enabled-tonal);
  --mat-slide-toggle-unselected-handle-color: var(--foundation-interactive-primary-textandicon-primary-default);
  --mat-slide-toggle-unselected-hover-handle-color: var(--foundation-interactive-primary-textandicon-primary-default);
  --mat-slide-toggle-unselected-hover-state-layer-color: var(--foundation-interactive-primary-textandicon-primary-default);
  --mat-slide-toggle-unselected-hover-track-color: var(--foundation-interactive-primary-background-enabled-tonal);
  --mat-slide-toggle-unselected-icon-color: var(--foundation-ui-background-medium);
  --mat-slide-toggle-unselected-pressed-handle-color: var(--foundation-interactive-primary-textandicon-primary-default);
  --mat-slide-toggle-unselected-pressed-state-layer-color: var(--foundation-ui-background-medium);
  --mat-slide-toggle-unselected-pressed-track-color: var(--foundation-interactive-primary-background-enabled-tonal);
  --mat-slide-toggle-unselected-track-color: var(--foundation-interactive-primary-background-enabled-tonal);
  --mat-slide-toggle-disabled-label-text-color: var(--foundation-interactive-primary-textandicon-disabled);
  --mat-slide-toggle-disabled-unselected-track-outline-color: var(--foundation-interactive-primary-border-disabled);
}

html .mat-mdc-slide-toggle,
html .theme-light .mat-mdc-slide-toggle {
  --mat-form-field-label-text-color: var(--foundation-interactive-primary-textandicon-primary-default);
}

html .mat-mdc-slide-toggle.mat-accent,
p .mat-mdc-slide-toggle.mat-accent {
  --mat-slide-toggle-selected-focus-state-layer-color: var(--foundation-interactive-primary-textandicon-inverse);
  --mat-slide-toggle-selected-handle-color: var(--foundation-interactive-primary-textandicon-inverse);
  --mat-slide-toggle-selected-hover-state-layer-color: var(--foundation-interactive-primary-textandicon-inverse);
  --mat-slide-toggle-selected-pressed-state-layer-color: var(--foundation-interactive-primary-textandicon-inverse);
  --mat-slide-toggle-selected-focus-handle-color: var(--foundation-interactive-primary-textandicon-inverse);
  --mat-slide-toggle-selected-hover-handle-color: var(--foundation-interactive-primary-textandicon-inverse);
  --mat-slide-toggle-selected-pressed-handle-color: var(--foundation-interactive-primary-textandicon-inverse);
  --mat-slide-toggle-selected-focus-track-color: var(--foundation-interactive-accent-background-enabled-filled);
  --mat-slide-toggle-selected-hover-track-color: var(--foundation-interactive-accent-background-enabled-filled);
  --mat-slide-toggle-selected-pressed-track-color: var(--foundation-interactive-accent-background-enabled-filled);
  --mat-slide-toggle-selected-track-color: var(--foundation-interactive-accent-background-enabled-filled);
}

html .mat-mdc-slide-toggle.mat-warn {
  --mat-slide-toggle-handle-surface-color: var(--foundation-semantic-background-error-filled);
  --mat-slide-toggle-selected-track-color: var(--foundation-semantic-border-error);
  --mat-slide-toggle-selected-track-outline-color: var(--foundation-semantic-border-error);
  --mat-slide-toggle-selected-icon-color: var(--foundation-interactive-primary-textandicon-selected);
  --mat-slide-toggle-selected-focus-state-layer-color: var(--foundation-semantic-background-error-filled);
  --mat-slide-toggle-selected-handle-color: var(--foundation-semantic-background-error-filled);
  --mat-slide-toggle-selected-hover-state-layer-color: var(--foundation-semantic-background-error-filled);
  --mat-slide-toggle-selected-pressed-state-layer-color: var(--foundation-semantic-background-error-filled);
  --mat-slide-toggle-disabled-selected-handle-color: var(--foundation-interactive-primary-textandicon-disabled);
  --mat-slide-toggle-selected-focus-handle-color: var(--foundation-semantic-background-error-filled);
  --mat-slide-toggle-selected-hover-handle-color: var(--foundation-semantic-background-error-filled);
  --mat-slide-toggle-selected-pressed-handle-color: var(--foundation-semantic-background-error-filled);
  --mat-slide-toggle-selected-focus-track-color: var(--foundation-semantic-border-error);
  --mat-slide-toggle-selected-hover-track-color: var(--foundation-semantic-border-error);
  --mat-slide-toggle-selected-pressed-track-color: var(--foundation-semantic-border-error);
  --mat-slide-toggle-selected-track-color: var(--foundation-semantic-border-error);
  --mat-slide-toggle-selected-icon-color: var(--foundation-interactive-primary-textandicon-inverse);

  .mdc-switch--disabled {
    .mdc-switch__handle::before {
      background: var(--foundation-interactive-primary-textandicon-disabled);
    }
  }

}
// Prevent handle width change during transition to eliminate swing
.mdc-switch .mdc-switch__handle {
  width: var(--size-sizing-xl) !important;
}

// Prevent track border width change from causing visual swing
.mdc-switch__track::before,
.mdc-switch__track::after {
  border-width: var(--size-sizing-3xs) !important;
}
