@use "@angular/material" as mat;
@use "../m3-theme" as m3;

:root {
  // The `-theme` mixin can be used to include the component's styles for all theme dimensions at once
  @include mat.snack-bar-theme(m3.$dark-theme);
}

// Apply the light theme only when the user prefers light themes.
.theme-light {
  @include mat.snack-bar-color(m3.$light-theme);
}

.mat-mdc-snack-bar-container {
  backdrop-filter: blur(var(--foundation-effect-glass-background-blur, 100px));
  height: var(--base-dimension-dynamic-s09);
  
  .mdc-snackbar__label {
    padding: var(--foundation-spacing-xs) var(--foundation-spacing-s) var(--foundation-spacing-xs) var(--foundation-spacing-m);
  }
}

.mdc-snackbar__surface {
  padding: var(--foundation-spacing-none);
}

.ba-snackbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ba-snackbar__message {
  white-space: pre-line;
  padding-right: var(--foundation-spacing-m);
}

.ba-snackbar__actions {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

html {
  --mat-snackbar-container-shape: var(--foundation-radius-xs);
  --mat-snackbar-container-color: var(--foundation-ui-glass-surface-thickest);
  --mat-snackbar-supporting-text-color: var(--foundation-ui-textandicon-high);
  --mat-snack-bar-button-color: var(--foundation-interactive-accent-textandicon-default);
}

// html {
//   
//   --mat-snackbar-supporting-text-line-height: 20px;
//   --mat-snackbar-supporting-text-size: 14px;
//   --mat-snackbar-supporting-text-weight: 400
// }

