.mat-mdc-snack-bar-container {
  backdrop-filter: blur(var(--effect-glass-background-blur, 100px));
  height: var(--base-dimension-dynamic-s09);

  .mdc-snackbar__label {
    padding: var(--foundation-spacing-xs) var(--foundation-spacing-s) var(--foundation-spacing-xs) var(--foundation-spacing-m);
  }
}

.mdc-snackbar__surface {
  padding: var(--foundation-spacing-none);
}

.ba-snackbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ba-snackbar__message {
  white-space: pre-line;
  padding-right: var(--foundation-spacing-m);
}

.ba-snackbar__actions {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

:root {
  --mat-snackbar-container-shape: var(--foundation-radius-xs);
  --mat-snackbar-container-color: var(--ui-glass-surface-thickest);
  --mat-snackbar-supporting-text-color: var(--ui-textandicon-high);
  --mat-snack-bar-button-color: var(--interactive-accent-textandicon-default);
}

// html {
//
//   --mat-snackbar-supporting-text-line-height: 20px;
//   --mat-snackbar-supporting-text-size: 14px;
//   --mat-snackbar-supporting-text-weight: 400
// }
