@use '@angular/material' as mat;
@use '../m3-theme.scss' as m3;

:root {
	@include mat.toolbar-theme(m3.$dark-theme);
}

.theme-light {
	@include mat.toolbar-color(m3.$light-theme);
}

html,
html .theme-light,
html .theme-dark {
	--mat-toolbar-container-background-color: var(--foundation-ui-glass-surface-thinnest);
	--mat-toolbar-container-text-color: var(--foundation-ui-textandicon-high);
}

html,
html .theme-light,
html .theme-dark {
	--mat-toolbar-standard-height: var(--base-dimension-dynamic-s12);
	--mat-toolbar-mobile-height: var(--base-dimension-dynamic-s11);
}

// Force toolbar to use the height variable
mat-toolbar,
.mat-toolbar {
	height: var(--mat-toolbar-standard-height);
	min-height: var(--mat-toolbar-standard-height);
}

// Override toolbar height for condensed density
body.theme-condensed {
  --mat-toolbar-standard-height: var(--base-dimension-dynamic-s12);
  --mat-toolbar-mobile-height: var(--base-dimension-dynamic-s11);
}

html,
html .theme-light,
html .theme-dark {
	// --mat-toolbar-title-text-font: inherit;
	--mat-toolbar-title-text-line-height: inherit;
	--mat-toolbar-title-text-size: inherit;
	--mat-toolbar-title-text-tracking: inherit;
	--mat-toolbar-title-text-weight: inherit
}