:root {
  --mat-tooltip-container-color: var(--ui-glass-surface-thick);
  --mat-tooltip-supporting-text-color: var(--ui-textandicon-medium);

  .mdc-tooltip__surface {
    white-space: pre-line;
    box-shadow: var(--box-shadow-elevation-3);
  }
}

:root {
  &.theme-condensed,
  .theme-condensed {
    --mat-tooltip-container-shape: var(--size-radius-xs);
    --mat-tooltip-supporting-text-line-height: var(--size-sizing-m);
  }
}
