@use '@jeppesen-foreflight/dls-global-assets/dist/scss/base/external-tokens/foundation' as foundation;
@use '@jeppesen-foreflight/dls-global-assets/dist/scss/base/external-tokens/foundation-color' as color;
@use '@jeppesen-foreflight/dls-global-assets/dist/scss/base/external-tokens/density' as density;
@use '@jeppesen-foreflight/dls-global-assets/dist/scss/base/_linkMixins.scss' as links;
@use '@jeppesen-foreflight/dls-global-assets/dist/scss/base/_typographyMixins.scss' as typography;

// Generate CSS custom properties for color theme variables
@include color.generateColorThemeVariables();
@include density.generateDensityVariables();

html, body {
  background: var(--foundation-ui-background-page);
  font-family: 'Boeing Meso', sans-serif;
  color: var(--foundation-ui-textandicon-high);
  min-height: 100vh;
}

#storybook-root {
  background: var(--foundation-ui-background-page);
  min-height: 100vh;
}

.col {
  margin-bottom: var(--foundation-spacing-2xl);
}

.table-container {
  padding: var(--foundation-spacing-2xl);
  background-color: var(--foundation-ui-background-low);
}

div.link-sheet {
  border: 1px solid var(--foundation-interactive-primary-border-focused);
  margin-bottom: 20px;
  padding: 20px;

  a {
    display: inline-flex;
    align-items: center;
  }

  &.mat-icon--before {
    a {
      flex-direction: row-reverse;
    }

    mat-icon {
      margin-right: var(--size-spacing-xs);
    }
  }

  &.mat-icon--after {
    mat-icon {
      margin-left: var(--size-spacing-xs);
    }
  }
}

div.usage {
  padding: 5px;
  margin-bottom: 30px;
  margin-top: -10px;

  code {
    font-family: 'Courier New', monospace;
    color: var(--foundation-interactive-accent-textandicon-default);
  }
}

div.link-sheet.primary > a {
  @include links.link-primary;
}

div.link-sheet.primary.underlined>a {
  @include links.link-primary-underlined;
}

div.link-sheet.accent>a {
  @include links.link-accent;
}

div.link-sheet.accent.visited>a {
  @include links.link-accent-visited;
}

div.link-sheet.accent.underlined>a {
  @include links.link-accent-underlined;
}

div.link-sheet.accent.underlined.visited>a {
  @include links.link-accent-underlined-visited;
}

// Visited color must be explicitely set for mat-icon, because "color: inherit" does not obey :visited pseudo-selector
div.link-sheet.accent.visited>a:visited {
  mat-icon {
    // THIS TOKEN IS NOT CURRENTLY BEING EXPORTED FROM THE TOKEN SERVICE
    color: var(--foundation-interactive-accent-textandicon-visited, #DB8BFF);
  }

  &.disabled {
    mat-icon {
      color: var(--foundation-interactive-primary-textandicon-disabled);
    }
  }
}
