@use '@angular/material' as mat;
@import '@dasdigitalplatform/dls-global-assets/dist/scss/base/_variables.scss';
@import '@dasdigitalplatform/dls-global-assets/dist/scss/base/_compositionMixins.scss';
@import '../m3-theme.scss';

:root {
  // The `-theme` mixin can be used to include the component's styles for all theme dimensions at once
  @include mat.divider-theme($dark-theme);
  // If needed use the single dimension mixins to override particular aspects
  // @include mat.button-base($dark-theme);
  // @include mat.button-color($dark-theme);
  // @include mat.button-typography($dark-theme);
  // @include mat.button-density($dark-theme);
}

// Apply the light theme only when the user prefers light themes.
.theme-light {
  @include mat.divider-color($light-theme);
}

mat-divider {
  &.mat-divider {
    &.specular {
      border-top-color: var(--color-ui-glass-divider-specular-44);
      border-right-color: var(--color-ui-glass-divider-specular-44);
    }

    &.mat-divider-inset {
      margin-left: var(--size-spacing-m);
      margin-right: var(--size-spacing-none);
      border-top-color: var(--color-ui-divider-flat-low);

      &.middle-inset {
        margin-left: var(--size-spacing-m);
        margin-right: var(--size-spacing-m);
      }
    }
  }
}

html,
html .theme-light,html .theme-dark {
  --mat-divider-color: var(--color-ui-divider-flat-high);
  --mat-divider-width: #{$size-base-border-width-1};
}
