@use '@angular/material' as mat;
@import '@dasdigitalplatform/dls-global-assets/dist/scss/base/_variables.scss';
@import '@dasdigitalplatform/dls-global-assets/dist/scss/base/_compositionMixins.scss';
@import '@dasdigitalplatform/dls-global-assets/dist/scss/base/_typographyMixins.scss';
@import '../m3-theme.scss';

:root {
  // The `-theme` mixin can be used to include the component's styles for all theme dimensions at once
  @include mat.form-field-theme($dark-theme);
  // If needed use the single dimension mixins to override particular aspects
  // @include mat.button-base($dark-theme);
  // @include mat.button-color($dark-theme);
  // @include mat.button-typography($dark-theme);
  // @include mat.button-density($dark-theme);
}

// Apply the light theme only when the user prefers light themes.
.theme-light {
  @include mat.form-field-color($light-theme);
}

html,
html .theme-light,html .theme-dark {
  .mat-mdc-form-field {
    --mat-mdc-form-field-floating-label-scale: 1;

    &.mat-focused {
      --mat-form-field-trailing-icon-color: var(--color-interactive-primary-textandicon-primary-default);
      --mat-form-field-leading-icon-color: var(--color-interactive-primary-textandicon-primary-default);

      .mat-mdc-form-field-text-suffix {
        color: var(--color-interactive-primary-textandicon-primary-default);
      }
    }
  }

  .mat-form-field-disabled {
    .mat-mdc-form-field-subscript-wrapper {
      color: var(--color-interactive-primary-textandicon-disabled);
    }
  }

  // supporting hint text underneath form fields...
  .mat-mdc-form-field-subscript-wrapper {
    @include typography-xl-label-low;
    color: var(--color-interactive-primary-textandicon-secondary-default);
  }

  input::-webkit-inner-spin-button {
    display: none;
  }

  .mat-mdc-form-field-text-prefix {
    @include typography-xl-label-medium;
    color: var(--color-interactive-primary-textandicon-primary-default);
  }

  .mat-mdc-form-field-text-suffix {
    @include typography-xl-label-medium;
    color: var(--color-interactive-primary-textandicon-disabled);
  }

  .mat-mdc-form-field.mat-form-field-invalid {
    .mat-mdc-form-field-icon-suffix {
      --mat-form-field-trailing-icon-color: var(--color-semantic-textandicon-error);
    }

    .mat-mdc-form-field-subscript-wrapper {
      color: var(--color-semantic-textandicon-error);
    }
  }
}

html,
html .theme-light,html .theme-dark {
  //   --mat-form-field-focus-select-arrow-color: rgba(103, 58, 183, 0.87);
  //   --mat-form-field-disabled-input-text-placeholder-color: rgba(0, 0, 0, 0.38);
  //   --mat-form-field-state-layer-color: rgba(0, 0, 0, 0.87);
  //   --mat-form-field-error-text-color: #f44336;
  //   --mat-form-field-select-option-text-color: inherit;
  //   --mat-form-field-select-disabled-option-text-color: GrayText;
  --mat-form-field-leading-icon-color: var(--color-interactive-primary-textandicon-primary-default);
  --mat-form-field-disabled-leading-icon-color: var(--color-interactive-primary-textandicon-disabled);
  --mat-form-field-trailing-icon-color: var(--color-interactive-primary-textandicon-disabled);
  --mat-form-field-disabled-trailing-icon-color: var(--color-interactive-primary-textandicon-disabled);
  --mat-form-field-error-focus-trailing-icon-color: var(--color-semantic-textandicon-error);
  --mat-form-field-error-hover-trailing-icon-color: var(--color-semantic-textandicon-error);
  --mat-form-field-error-trailing-icon-color: var(--color-semantic-textandicon-error);
  //   --mat-form-field-enabled-select-arrow-color: rgba(0, 0, 0, 0.54);
  //   --mat-form-field-disabled-select-arrow-color: rgba(0, 0, 0, 0.38);
  // --mat-form-field-hover-state-layer-opacity: 0.04;
  --mat-form-field-focus-state-layer-opacity: 0;
}

// .mat-mdc-form-field.mat-accent {
//   --mdc-filled-text-field-caret-color: #ffd740;
//   --mdc-filled-text-field-focus-active-indicator-color: #ffd740;
//   --mdc-filled-text-field-focus-label-text-color: rgba(255, 215, 64, 0.87);
//   --mdc-outlined-text-field-caret-color: #ffd740;
//   --mdc-outlined-text-field-focus-outline-color: #ffd740;
//   --mdc-outlined-text-field-focus-label-text-color: rgba(255, 215, 64, 0.87);
//   --mat-form-field-focus-select-arrow-color: rgba(255, 215, 64, 0.87)
// }

// .mat-mdc-form-field.mat-warn {
//   --mdc-filled-text-field-caret-color: #f44336;
//   --mdc-filled-text-field-focus-active-indicator-color: #f44336;
//   --mdc-filled-text-field-focus-label-text-color: rgba(244, 67, 54, 0.87);
//   --mdc-outlined-text-field-caret-color: #f44336;
//   --mdc-outlined-text-field-focus-outline-color: #f44336;
//   --mdc-outlined-text-field-focus-label-text-color: rgba(244, 67, 54, 0.87);
//   --mat-form-field-focus-select-arrow-color: rgba(244, 67, 54, 0.87)
// }

// html {
//   --mat-form-field-container-height: 56px;
//   --mat-form-field-filled-label-display: block;
//   --mat-form-field-container-vertical-padding: 16px;
//   --mat-form-field-filled-with-label-container-padding-top: 22px;//24px;
//   --mat-form-field-filled-with-label-container-padding-bottom: 6px;//px;
// }

// html {
//   --mdc-filled-text-field-label-text-font: Roboto, sans-serif;
//   --mdc-filled-text-field-label-text-size: 16px;
//   --mdc-filled-text-field-label-text-tracking: 0.03125em;
//   --mdc-filled-text-field-label-text-weight: 400;
//   --mdc-outlined-text-field-label-text-font: Roboto, sans-serif;
//   --mdc-outlined-text-field-label-text-size: 16px;
//   --mdc-outlined-text-field-label-text-tracking: 0.03125em;
//   --mdc-outlined-text-field-label-text-weight: 400;
//   --mat-form-field-container-text-font: Roboto, sans-serif;
//   --mat-form-field-container-text-line-height: 24px;
//   --mat-form-field-container-text-size: 16px;
//   --mat-form-field-container-text-tracking: 0.03125em;
//   --mat-form-field-container-text-weight: 400;
//   --mat-form-field-outlined-label-text-populated-size: 16px;
//   --mat-form-field-subscript-text-font: Roboto, sans-serif;
//   --mat-form-field-subscript-text-line-height: 20px;
//   --mat-form-field-subscript-text-size: 12px;
//   --mat-form-field-subscript-text-tracking: 0.0333333333em;
//   --mat-form-field-subscript-text-weight: 400
// }
