@use '@angular/material' as mat;
@import '@design/dls-global-assets/dist/scss/base/_variables.scss';
@import '../m3-theme.scss';

:root {
  // The `-theme` mixin can be used to include the component's styles for all theme dimensions at once
  @include mat.icon-theme($dark-theme);
  // If needed use the single dimension mixins to override particular aspects
  // @include mat.button-base($dark-theme);
  // @include mat.button-color($dark-theme);
  // @include mat.button-typography($dark-theme);
  // @include mat.button-density($dark-theme);

}

// Apply the light theme only when the user prefers light themes.
.theme-light {
  @include mat.icon-color($light-theme);
}

html,
html .theme-light,html .theme-dark {
  --mat-icon-color: inherit;

  .mat-icon.mat-primary {
    --mat-icon-color: inherit;
  }

  .mat-icon.mat-accent {
    --mat-icon-color: inherit;
  }

  .mat-icon.mat-warn {
    --mat-icon-color: inherit;
  }

}