@use '@angular/material' as mat;
@use '@design/dls-global-assets/dist/scss/base/_variables.scss';
@use '@design/dls-global-assets/dist/scss/base/_variablesBase.scss';
@use '../m3-theme.scss' as m3;

:root {
	// The `-theme` mixin can be used to include the component's styles for all theme dimensions at once
	@include mat.toolbar-theme(m3.$dark-theme);
}


.theme-light {
	@include mat.toolbar-color(m3.$light-theme);
}

html,
html .theme-light,
html .theme-dark {
	--mat-toolbar-container-background-color: var(--color-ui-glass-surface-thinnest);
	--mat-toolbar-container-text-color: var(--color-ui-textandicon-high);
}

// .mat-toolbar.mat-primary {
// 	--mat-toolbar-container-background-color: #f5f5f5;
// 	--mat-toolbar-container-text-color: white
// }

// .mat-toolbar.mat-accent {
// 	--mat-toolbar-container-background-color: #ff4081;
// 	--mat-toolbar-container-text-color: white
// }

// .mat-toolbar.mat-warn {
// 	--mat-toolbar-container-background-color: #f44336;
// 	--mat-toolbar-container-text-color: white
// }

html {
	--mat-toolbar-standard-height: $size-base-sizing-64px;
	--mat-toolbar-mobile-height: $size-base-sizing-48px;
}

html {
	// --mat-toolbar-title-text-font: inherit;
	--mat-toolbar-title-text-line-height: inherit;
	--mat-toolbar-title-text-size: inherit;
	--mat-toolbar-title-text-tracking: inherit;
	--mat-toolbar-title-text-weight: inherit
}