<h1 class="h3">Components</h1>
<p>This is a <b>demo application</b> that provides a development sandbox for the <b>design/dls-global-angular</b> library.</p>
<p>The code and content in this demo application will never be deployed to a live environment and <b>should not</b> be considered a complete or accurate representation of every component in the library.</p>
<p><b>Storybook</b> should always be considered the source of truth for components, and is where QA is conducted.</p>
<ul>
    <li><a href="/button">Button (Common and Icon)</a></li>
    <li><a href="/breadcrumb">Breadcrumb</a></li>
    <li><a href="/top-app-bar">Top App Bar</a></li>
    <li><a href="/dialog">Dialog</a></li>
    <li><a routerLink="/breadcrumb">Breadcrumb</a></li>
    <li><a routerLink="/card">Card</a></li>
    <li><a routerLink="/menu">Menu</a></li>
    <li><a routerLink="/dialog">Dialog</a></li>
    <li><a routerLink="/top-app-bar">Top App Bar</a></li>   
    <li><a href="/navigation-drawer">Navigation Drawer</a></li>
    <li><a href="/navigation-rail">Navigation Rail</a></li>
    <li><a routerLink="/tabs">Tabs</a></li>
    <li><a routerLink="/radio">Radio</a></li>
    <li><a routerLink="/table">Table</a></li>
    <li><a routerLink="/user-profile">User Profile</a></li>
    <li><a routerLink="/checkbox">Checkbox</a></li>
    <li><a routerLink="/switch">Switch (Slide toggle)</a></li>
    <li><a routerLink="/input">Input (Text field, Text area)</a></li>
    <li><a routerLink="/form-field">Form Field</a></li>
    <li><a routerLink="/select">Select</a></li>
    <li><a routerLink="/tooltip">Tooltip</a></li>
    <li><a routerLink="/chips">Chips</a></li>
    <li><a routerLink="/progress-indicators">Progress Indicators</a></li>
</ul>
