// Style for the home page
@use '@dasdigitalplatform/dls-global-assets/dist/scss/base/_variables.scss' as vars;
@use '@dasdigitalplatform/dls-global-assets/dist/scss/base/_typographyMixins.scss' as typography;

:host {
  @include typography.typography-xl-body-low-default;
}

h1 {
  margin-bottom: 1rem;
  color: var(--color-ui-textandicon-medium);
}

p {
  color: var(--color-ui-textandicon-medium);
}

a {
  color: var(--color-ui-textandicon-high);
}

b {
  font-weight: 700;
  color: var(--color-ui-textandicon-high);
}

p {
  margin: 1rem;
  max-width: 500px;
}

ul {
  list-style-type: disc;
  padding-left: vars.$size-relaxed-spacing-l;
  color: var(--color-ui-textandicon-high);
}