<!-- <div style="position: absolute; top: 0; left: 0; right: 0; height: 0; z-index: 1;">
  <div style="position: absolute; top: calc(var(--size-spacing-m) + 16px); left: var(--size-spacing-xl);">
    <mat-icon svgIcon="icon-warning"></mat-icon>
  </div>
  <div style="position: absolute; top: calc(var(--size-spacing-2xs) + 2px); right: var(--size-spacing-2xs);">
    <button matIconButton mat-dialog-close="true">
      <mat-icon svgIcon="icon-close"></mat-icon>
    </button>
  </div>
</div>

<h2 mat-dialog-title style="padding-top: calc(var(--base-dimension-dynamic-s12) - 4px); padding-left: var(--foundation-spacing-xl); margin-top: var(--foundation-spacing-none);">Dialog Title</h2>

<mat-dialog-content>
  <p>
    A dialog is a type of modal window that appears in front of app
    content to provide critical information, or prompt for a decision to
    be made.
  </p>
</mat-dialog-content>

<mat-dialog-actions style="display: flex; gap: var(--size-spacing-xs);">
  <button matButton="outlined" mat-dialog-close>Cancel</button>
  <button
    mat-flat-button
    color="primary"
    mat-dialog-close
    cdkFocusInitial
    >
    Accept
  </button>
</mat-dialog-actions> -->
 <div style="position: absolute; top: 0; left: 0; right: 0; height: 0; z-index: 1;">
        <div style="position: absolute; top: calc(var(--foundation-spacing-m) + 16px); left: var(--foundation-spacing-xl);">
            <mat-icon svgIcon="icon-warning"></mat-icon>
        </div>

        <div style="position: absolute; top: calc(var(--foundation-spacing-2xs) + 2px); right: var(--foundation-spacing-2xs);">
            <button matIconButton mat-dialog-close="true">
              <mat-icon svgIcon="icon-close"></mat-icon>
            </button>
        </div>
      </div>
    
    
      <h2 mat-dialog-title style="padding-top: calc(var(--base-dimension-dynamic-s12) - 4px); padding-left: var(--foundation-spacing-l); margin-top: var(--foundation-spacing-none);">Dialog Title</h2>
      <mat-dialog-content>
      <button matButton="filled" color="accent">Filled button</button>
        <p>
          A dialog is a type of modal window that appears in front of app
          content to provide critical information, or prompt for a decision to
          be made.
        </p>
        <h3 class="title-medium">Speed &amp; Performance</h3>
        <p>
          Achieve the maximum speed possible on the Web Platform today, and take
          it further, via Web Workers and server-side rendering. Angular puts
          you in control over scalability. Meet huge data requirements by
          building data models on RxJS, Immutable.js or another push-model.
        </p>
    
        <h3 class="title-medium">Incredible tooling</h3>
        <p>
          Build features quickly with simple, declarative templates. Extend the
          template language with your own components and use a wide array of
          existing components.
        </p>
    
        <p>
          Get immediate Angular-specific help and feedback with nearly every IDE
          and editor. All this comes together so you can focus on building
          amazing apps rather than trying to make the code work.
        </p>
    
        <p>
          From prototype through global deployment, Angular delivers the
          productivity and scalable infrastructure that supports Google's
          largest applications.
        </p>
      </mat-dialog-content>
    
      <mat-dialog-actions style="display: flex; gap: var(--foundation-spacing-xs);">
          <button
         
            style="margin-inline-end: auto;"
            matButton
            color="primary"
            mat-dialog-close="true"
            >
            Tertiary
          </button>
     
        <button matButton="outlined" mat-dialog-close>Cancel</button>
        <button
          matButton="filled"
          color="primary"
          mat-dialog-close
          cdkFocusInitial
          >
          Install
        </button>
      </mat-dialog-actions>